html{
  scroll-behavior: smooth;
}
.carousel {
    width: 100%;
    overflow: hidden; /* Ocultar contenido desbordado */
    position: relative;
    height: 505px; /* Ajusta según la altura deseada */
  }
  
  /* Contenedor de las diapositivas */
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animación suave */
    height: 100%;
  }
  
  /* Diapositiva individual */
  .slide {
    position: relative;
    flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho */
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  /* Filtro degradado */
  .slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0,0), rgba(255, 255, 255, 1));
    z-index: 1;
  }
  
  /* Contenido de texto y botón */
  .content {
    font-family: "kanit";
    position: absolute;
    top:250px;
    left: 100px;
    color: #384861;
    text-align: center;
    z-index: 2; /* Sobre el filtro */
  }
  
  .content h1 {
    font-size: 60px;
    margin-bottom: 10px;
    
  }
  
  .content a {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 0px;
    opacity: 0px;
    color: #384861;
    background: #58C890;
    border-radius: 30PX;
    font-family: Kanit;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
  }
  
  .content button:hover {
    background-color: #0056b3;
  }

.div-canicross{
    display: flex;
    justify-content:space-around;
    background: #EEFFF1;
    margin: 0 100px 0 100px;
    padding: 10px;
}

.img-canicross{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 600px;

}

.div-text{
font-family: "kanit";
display: flex;
flex-direction: column;
align-items: center;
margin: 0 0 0 30px;
width: 700px;

}

h2{
    
font-family:sans-serif;
font-size: 48px;
font-weight: 300;
line-height: 86.72px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

span{
    
    font-family: Kanit;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.9px;
    text-align: left;
    margin-top: 20px;
   
    text-decoration-skip-ink: none;
    
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Botones semi-transparentes */
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 3; /* Por encima de las imágenes */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev-btn {
    left: 20px; /* Botón izquierdo */
  }
  
  .next-btn {
    right: 20px; /* Botón derecho */
  }
  .invitacion{
    font-size: 25px;
    
    margin-top: 60px;
  }